* {
  font-family: "Roboto", sans-serif;
}
.player-container {
  height: 90vh !important;
}
.player-container > video {
  width: 100%;
  object-fit: contain !important;
}
::-webkit-scrollbar {
  width: 6px;
}
.dark-mode .player-container {
  background-color: #1e2022 !important;
}
.light-mode .player-container {
  background-color: #eeeded !important;
}
.light-mode ::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  border-radius: 4px;
}

.light-mode ::-webkit-scrollbar-track {
  background-color: #f3f4f6;
}

.light-mode ::-webkit-scrollbar-thumb:horizontal {
  background-color: #d1d5db;
  border-radius: 4px;
}

.light-mode ::-webkit-scrollbar-track:horizontal {
  background-color: #f3f4f6;
}

.dark-mode ::-webkit-scrollbar-thumb {
  background-color: #555b5f;
  border-radius: 4px;
}

.dark-mode ::-webkit-scrollbar-track {
  background-color: #1e2022;
}

.dark-mode ::-webkit-scrollbar-thumb:horizontal {
  background-color: #555b5f;
  border-radius: 4px;
}

.dark-mode ::-webkit-scrollbar-track:horizontal {
  background-color: #1e2022;
}
